@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Roboto:wght@300;400;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
html
{
    height: -webkit-fill-available;
}
body
{
    background-color: #fff;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    overflow: hidden;
}
section
{
    width: 100%;
    height: 100%;
    outline: 1px dashed black;
}

/* --------------- HEADER -------------- */

.header > .glass1
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    top: -100%;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 0.8s ease-in-out;
    transition-delay: 0.3s;
}
.header > .glass2
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    transition-delay: 0.3s;
}
.header > h2.a
{
    color: #4a7cbd;
    font-size: calc((4vw + 4vh)/2);
    font-weight: 100;
    position: absolute;
    top: 15px;
    left: 15px;
    letter-spacing: 2px;
}
.header > h2.b
{
    color: #fff;
    font-size: calc((4vw + 4vh)/2);
    font-weight: 100;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.header > .header_texts
{
    height: 100%;
    width: 100%;
    display: flex;
}
.header > .header_texts > .texts
{
    padding: 6vh 4vw;
    margin: auto;
    z-index: 5;
    outline: 0 solid #628abe;
}
.header > .header_texts > .texts > h1
{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: calc(7vw);
    font-weight: 400;
    color: #4a7cbd;
    margin-left: 7px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
.header > .header_texts > .texts > h1 > span
{
    font-family: inherit;
    color: #fff;
}
.header > .header_texts > .texts > p
{
    font-size: calc(3vw - 0px);
    letter-spacing: 3px;
    font-weight: 300;
    margin-left: 7px;
}
.header.active > .glass1, .header.active > .glass2
{
    transform: unset;
}
.header.active > .header_texts > .texts
{
    animation: showOutline 0.2s 0.7s both;
}
@keyframes showOutline
{
    100%{
        outline-width: 10px;
    }
}

/* ----------------------------GALLERY---------------------------- */

.gallery
{
    padding: 30px 20px;
}
.g_content
{
    width: 100%;
    height: 100%;
    margin: auto;
    
    display: grid;
    grid-template-rows: auto 1fr ;
    gap: 20px;
    max-width: 350px;
}
.texts_container
{
    text-align: center;
}
.g_text{
    position: absolute;
    filter: opacity(0);
}
.g_text.active{
    position: relative;
    filter: opacity(1);
}
.gallery h2
{
    font-size: 32px;
    font-weight: 800;
    color: #3f5878;
}
.gallery h3
{
    font-size: 25px;
    font-weight: 300;
}
.g_container
{
    transform: scale(1);
    max-width: 350px;
}
.g_images
{
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;

    height: 100%;
    width: 100%;
    display: grid;
    gap: 15px;
}
.g_images.active
{
    opacity: 1;
    z-index: 10;
}
.g_images.active > .g_img
{
    transform: none;
    opacity: 1;
}
.g_img
{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transform: translateX(-60px);
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    opacity: 0;
}
.img1{transition-delay: 0.2s;}
.img2{transition-delay: 0.3s;}
.img3{transition-delay: 0.4s;}

#nextbtn
{
    background: linear-gradient(to bottom, #4a7cbdaf, #86afe4);
    outline: none;
    border: none;
    border-radius: 50%;

    position: absolute;
    bottom: calc(10px - 100%);
    right: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#nextbtn:active
{
    transform: scale(0.8);
}