@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Roboto:wght@300;400;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #444;
}
body
{
    height: 100%;
    overflow: hidden;
}
section
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: -1;
}
section.active
{
    opacity: 1;
    z-index: 1;
}
.header
{
    width: 100vw;
    outline: 5px solid red;
}
.header > .glass1
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    top: -100%;
    z-index: 7;
    transform: translateY(100%);
}
.header > .glass2
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(-100%);
}
.header > h2.a
{
    color: #4a7cbd;
    font-size: 26px;
    font-weight: 100;
    position: absolute;
    top: 15px;
    left: 15px;
    letter-spacing: 2px;
}
.header > h2.b
{
    color: #fff;
    font-size: 26px;
    font-weight: 100;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.header > .container
{
    height: 100%;
    width: 100%;
    display: flex;
}
.header > .container > .texts
{
    padding: 60px;
    margin: auto;
    z-index: 5;
    outline: 0 solid #628abe;
}
.header > .container > .texts > h1
{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 68px;
    font-weight: 400;
    color: #4a7cbd;
    margin-bottom: 20px;
    margin-left: 7px;
    letter-spacing: 3px;
}
.header > .container > .texts > h1 > span
{
    font-family: inherit;
    color: #fff;
}
.header > .container > .texts > p
{
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-left: 7px;
}
.header.active > .glass1, .header.active > .glass2
{
    animation: resetPosition 1s 0.2s both;
}
.header.active > .container > .texts
{
    animation: showOutline .2s 0.47s both;
}

/*  --   A B O U T   --  */

.about
{
    background-color: #ffaa2a;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
.about .card
{
    height: 60%;
    min-height: 350px;
    max-height: 565px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #0005;
    padding: 30px 20px;
}
.about > .card > h3
{
    font-family: 'Port Lligat Sans', sans-serif;
    color: #49382a;
    text-align: center;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 900;
}
.about > .resumen
{
    width: 457px;
    padding: 30px;

    display: grid;
    gap: 30px;
    grid-template-areas: "title title"
                         "photo  paragraph"
                         "photo  button";
    grid-template-rows: auto 1fr 40px;
    grid-template-columns: 200px 1fr;
}
.resumen > h3
{
    grid-area: title;
}
.resumen > img
{
    height: 100%;
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
    grid-area: photo;
}
.resumen > button
{
    grid-area: button;
    height: 100%;
    width: 100%;
}
.about_button
{
    background-color: #ffaa2a;
    color: #fff;
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.about_button:hover
{
    background-color: #e3550e;
}
.about_button:active
{
    background-color: #9d3b0b;
}
.resumen > p
{
    grid-area: paragraph;
    text-align: i;
}



.about > .skills
{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.skills > ul
{
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.skills > ul > li
{
    list-style: none;
    width: 100%;
}
.skills > ul > li > h4
{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
.skills > ul > li > span
{
    height: 10px;
    border-radius: 5px;
    display: block;
}
.skills > button
{
    height: 40px;
}
.advanced
{
    width: 100%;
    background-color: #f00;
}
.meddium
{
    width: 50%;
    background-color: #f80;
}











section:nth-child(3)
{
    background-color: #00f;
}
section:nth-child(4)
{
    background-color: #ff0;
}

@keyframes resetPosition
{
    100%{
        transform: unset; 
    }    
}

@keyframes showOutline
{
    100%{
        outline-width: 7px;
    }
}

@media screen and (max-width: 750px)
{
    .header > .container > .texts
    {
        padding: 8%;
    }
    .header > .container > .texts > h1
    {
        font-size: 9vw;
    }
    .header > .container > .texts > p
    {
        font-size: 4.7vw;
        letter-spacing: 2px;
    }

    /* A B O U T */
    .about
    {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
    }
    .about > .card
    {
        width: 350px;
        height: auto;
        min-height: 200px;
        padding: 20px 15px;
        gap: 15px;
    }
    .about > .card > h3
    {
        font-size: 23px;
        height: auto;
    }
    .about > .resumen
    {
        grid-template-columns: 160px 1fr;
    }
    .about > .resumen > p
    {
        font-size: 14px;
    }
    .about > .skills
    {
        height: 242px;
        justify-content: space-evenly;
    }
    .about > .skills > ul
    {
        height: 116.6px;
    }
    .about > .skills > button
    {
        height: 30px;
    }
}