@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&family=Roboto:wght@300;400;700&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #444;
}
html
{
    height: -webkit-fill-available;
}
body
{
    background-color: #fff;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    overflow: hidden;
    transform: translateY(0);
}
section
{
    width: 100%;
    height: 100%;
}

/* --------------- HEADER -------------- */

.header > .glass1
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    top: -100%;
    z-index: 10;
    transform: translateY(100%);
    transition: transform 0.8s ease-in-out;
    transition-delay: 0.3s;
}
.header > .glass2
{
    height: 100%;
    width: 50%;
    background-color: #4a7cbd;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translateY(-100%);
    transition: transform 0.8s ease-in-out;
    transition-delay: 0.3s;
}
.header > h2.a
{
    color: #4a7cbd;
    font-size: calc((4vw + 4vh)/2);
    font-weight: 100;
    position: absolute;
    top: 15px;
    left: 15px;
    letter-spacing: 2px;
}
.header > h2.b
{
    color: #fff;
    font-size: calc((4vw + 4vh)/2);
    font-weight: 100;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.header > .header_texts
{
    height: 100%;
    width: 100%;
    display: flex;
}
.header > .header_texts > .texts
{
    padding: 6vh 4vw;
    margin: auto;
    z-index: 5;
    outline: 0 solid #86a2c6;
}
.header > .header_texts > .texts > h1
{
    font-family: 'Port Lligat Sans', sans-serif;
    font-size: calc(7vw);
    font-weight: 400;
    color: #4a7cbd;
    margin-left: 7px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
.header > .header_texts > .texts > h1 > span
{
    font-family: inherit;
    color: #fff;
}
.header > .header_texts > .texts > p
{
    font-size: calc(3vw - 0px);
    letter-spacing: 3px;
    font-weight: 300;
    margin-left: 7px;
}
.header.active > .glass1, .header.active > .glass2
{
    transform: unset;
}
.header.active > .header_texts > .texts
{
    animation: showOutline 0.2s 0.7s both;
}
@keyframes showOutline
{
    100%{
        outline-width: 8px;
    }
}

/* ----------------------------GALLERY---------------------------- */
/* ----------------------------GALLERY---------------------------- */
/* ----------------------------GALLERY---------------------------- */

.gallery
{
    padding: 30px 20px;
    transform: scale(1);
}
.g_content
{
    width: 100%;
    height: 100%;
    margin: auto;
    
    display: grid;
    grid-template-rows: auto 1fr ;
    gap: 20px;
    max-width: 350px;
}
.texts_container
{
    text-align: center;
}
.g_text{
    position: absolute;
    filter: opacity(0);
}
.g_text.active{
    position: relative;
    filter: opacity(1);
}
.gallery h2
{
    font-size: 32px;
    font-weight: 800;
    color: #3f5878;
}
.gallery h3
{
    font-size: 25px;
    font-weight: 300;
}
.g_container
{
    transform: scale(1);
    max-width: 350px;
}
.g_images
{
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s;

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 250px 2fr 3fr;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "p1 p1"
                         "in p2"
                         "p3 p3";
    gap: 5px;
}
.g_images.active
{
    opacity: 1;
    z-index: 10;
}
.g_images.active > .g_img, .g_images.active > .inf-btn
{
    transform: none;
    opacity: 1;
}
.g_img
{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transform: translateX(-60px);
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    opacity: 0;
}
.img1{transition-delay: 0.2s; grid-area: p1;}
.img2{transition-delay: 0.3s; grid-area: p2;}
.img3{transition-delay: 0.4s; grid-area: p3;}
.inf-btn
{
    grid-area: in;
    background-color: #4a7cbd;
    color: #fff;
    font-size: 50px;
    outline: none;
    border: none;
    font-family: 'Port Lligat Sans', sans-serif;
    opacity: 0;
    transform: translateX(-30px);

    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    cursor: pointer;
}
.inf-btn:active
{
    background-color: #3f5878;
}
.info__container
{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    display: flex;

    transform: scale(0);
    transition: transform 0.3s;
}
.info__container.active
{
    transform: scale(1);
}
.info__container > p
{
    margin: auto;
    font-size: 1.1rem;
    width: 320px;
    max-width: 90%;
    max-height: 80%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #000;
}

#nextbtn
{
    background: linear-gradient(to bottom, #4a7cbd, #86afe4);
    outline: 3px solid #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
#nextbtn:active
{
    transform: scale(0.8);
}

/* ----------------------------ABOUT---------------------------- */
/* ----------------------------ABOUT---------------------------- */
/* ----------------------------ABOUT---------------------------- */

.about__container
{
    height: 100%;
    padding: 30px 20px;
    background: linear-gradient(to bottom, #4a7cbd, #fff);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.profile__img
{
    min-height: 150px;
    max-width: 20vw;
    min-width: 150px;
    border-radius: 50%;
    outline: 5px solid #fff;
    background-image: url(source/profile.jpg);
    background-size: cover;
    box-shadow: 3px 2px 10px #000;
}
.about__main
{
    height: 100%;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-direction: column;
}
.about__main > .b_container
{
    background-color: #4a7cbd;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
}
.about__main > .b_container > button
{
    outline: none;
    border: none;
    background-color: #4a7cbd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 2px 0 #fff;

    flex: 1;
}
.about__main > .b_container > button.active
{
    background-color: #fff;
}
.about__main > .b_container > button > svg
{
    height: 25px;
    fill: #fff;
}
.about__main > .b_container > button.active > svg
{
    fill: #4a7cbd;
}
article
{
    flex: 1;
    transform: scale(1);
}
.resume
{
    background: #fff;
    padding: 20px 30px;
    height: 100%;
    position: relative;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resume.active
{
    z-index: 100;
}
.resume > p
{
    flex: 1;
    max-height: 250px;
    font-size: 16px;
    overflow-y: scroll;
}
.resume b
{
    color: #133e76;
    font-size: 18px;
}
.skills
{
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
}
.skills > .skill
{
    padding: 8px 20px;
}
.skill > .av
{
    margin-top: 5px;
    background-color: #f00;
    height: 5px;
    width: 100%;
}
.skill > .me
{
    margin-top: 5px;
    height: 5px;
    width: 60%;
    background-color: #fd0;
}

footer
{
    position: absolute;
    bottom: calc(-200% - 1);
    background: #4d4d4d;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
}
footer > p
{
    color: #fff;
    margin: auto;
    font-size: 18px;
    text-align: center;
    width: 80%;
    font-weight: 100;
}
